
@{
}

<form method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="ContactId" name="Id" hidden="hidden">
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name">

        <label for="MobilePhone">MobilePhone</label>
        <input type="text" class="form-control" id="MobilePhone" name="MobilePhone">

        <label for="Dear">Dear</label>
        <input type="text" class="form-control" id="Dear" name="Dear">

        <label for="JobTitle">JobTitle</label>
        <input type="text" class="form-control" id="JobTitle" name="JobTitle">

        <label for="BirthDate">BirthDate</label>
        <input type="date" class="form-control" id="BirthDate" name="BirthDate">

    </div>

    <button type="submit" class="btn btn-secondary">Submit</button>
    <a href="/Home" class="btn btn-secondary">Back</a>

</form>