@{
    Layout = "_Layout";
}

<div>Sign In:</div>
@if (!ViewBag.AuthLabel)
{
    <h4 class="text-danger">Неверное имя пользователя или пароль</h4>
}
    <div>
        @ViewBag.Message
        <form method="post">
            <div class="form-group">
                <label for="UserName">Username</label>
                <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Enter username" required>

            </div>
            <div class="form-group">
                <label for="UserPassword">Password</label>
                <input type="password" class="form-control" id="UserPassword" name="UserPassword" placeholder="Enter password" required>
            </div>

            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
